<div id="<%= dom_id order %>">
  <div>
    <strong>User:</strong>
    <%= order.user_id %>
  </div>

  <div>
    <strong>Details:</strong>
    <%= order.details %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= order.status %>
  </div>

</div>
